<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartMall.mapper.OrderInfoMapper">

    <resultMap id="BaseResultMap" type="com.smartMall.entities.domain.OrderInfo">
        <id property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="orderStatus" column="order_status" jdbcType="INTEGER"/>
        <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
        <result property="totalQuantity" column="total_quantity" jdbcType="INTEGER"/>
        <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
        <result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
        <result property="receiverAddress" column="receiver_address" jdbcType="VARCHAR"/>
        <result property="orderRemark" column="order_remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="payTime" column="pay_time" jdbcType="TIMESTAMP"/>
        <result property="cancelTime" column="cancel_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,order_no,user_id,order_status,total_amount,
        total_quantity,receiver_name,receiver_phone,receiver_address,
        order_remark,create_time,update_time,pay_time,cancel_time
    </sql>
</mapper>
