<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartMall.mapper.SysCategoryMapper">

    <resultMap id="BaseResultMap" type="com.smartMall.entities.domain.SysCategory">
            <id property="categoryId" column="category_id" jdbcType="VARCHAR"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="pCategoryId" column="p_category_id" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id, category_name, p_category_id, sort
    </sql>

    <!-- 批量更新排序值 -->
    <update id="updateSortBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE sys_category
            SET sort = #{item.sort}
            WHERE category_id = #{item.categoryId}
        </foreach>
    </update>

</mapper>
