<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartMall.mapper.SysProductPropertyMapper">

    <resultMap id="BaseResultMap" type="com.smartMall.entities.domain.SysProductProperty">
            <id property="propertyId" column="property_id" jdbcType="VARCHAR"/>
            <result property="propertyName" column="property_name" jdbcType="VARCHAR"/>
            <result property="pCategoryId" column="p_category_id" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="VARCHAR"/>
            <result property="propertySort" column="property_sort" jdbcType="INTEGER"/>
            <result property="coverType" column="cover_type" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        property_id,property_name,p_category_id,
        category_id,property_sort,cover_type
    </sql>
</mapper>
